body {
  height: 100%;
}

.auth-form {
  color: #c8c8c8;
  margin-top: 5%;
  max-width: 400px;
  min-width: 400px;
  border-radius: 10px;
  padding: 30px;
}

.background-blue {
  background: royalblue;
}

.border-black {
  border: #232323 solid 1px;
}