@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');

body {
  background: rgb(25,25,25);
  background: -moz-linear-gradient(90deg, rgba(25,25,25,1) 0%, rgba(20,20,20,1) 50%, rgba(10,10,10,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(25,25,25,1) 0%, rgba(20,20,20,1) 50%, rgba(10,10,10,1) 100%);
  background: linear-gradient(90deg, rgba(25,25,25,1) 0%, rgba(20,20,20,1) 50%, rgba(10,10,10,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#191919",endColorstr="#0a0a0a",GradientType=1);
  font-family: 'Baloo Tamma 2', cursive;
}

.header-text {
  color: royalblue;
  font-weight: lighter;
}