<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
</head>
<body>
<!-- Navigation -->
<nav></nav>

<div id="main-section">
    <!-- Rooms -->
    <nav id="sidebar"></nav>

    <!-- Messages -->
    <div id="right-panel">
        <!-- Display -->
        <div id="display-message-section"></div>

        <!-- Input -->
        <div id="input-area">
            <label for="user-message"></label>
            <input type="text" id="user-message" placeholder="Type your message here..." autocomplete="off">
            <button type="button" id="send-message">Send</button>
        </div>
    </div>
</div>

<!-- SocketIO -->
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
        integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I="
        crossorigin="anonymous"></script>

<!-- Index -->
<script src="{{ url_for('static', filename='js/socket.js') }}"></script>
</body>
</html>